<section class="space-y-6">
  <% chart_widget_classes = "xl:col-span-1" %>

  <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-3 xl:items-start">
    <%= render "shared/weight_activity_widget", person: @person, card_classes: chart_widget_classes %>
    <% unless @person.baby_mode? %>
      <%= render "shared/height_activity_widget", person: @person, card_classes: chart_widget_classes %>
    <% end %>
    <%= render "shared/vital_activity_widget", person: @person, type: :temperature, card_classes: chart_widget_classes %>
    <%= render "shared/vital_activity_widget", person: @person, type: :pulse, card_classes: chart_widget_classes %>
    <%= render "shared/vital_activity_widget", person: @person, type: :blood_pressure, card_classes: chart_widget_classes %>
  </div>
</section>
