<section class="space-y-6">
  <%= turbo_stream_from [person, :entries] %>

  <div class="grid grid-cols-1 items-stretch gap-6 md:grid-cols-3">
    <%= render "shared/overview_composer", person: person, card_classes: "md:col-span-1" %>
    <%= render "shared/overview_recent_activity", person: person, entries: entries, sort: local_assigns[:sort], card_classes: "md:col-span-2", entry_limit: 3 %>
  </div>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3 xl:items-start">
    <%= render "shared/planning_widget", person: person, card_classes: "md:col-span-2 xl:col-span-3" %>
    <%= render "shared/sparkline_widget", person: person, type: :weight %>
    <%= render "shared/sparkline_widget", person: person, type: :pulse %>
    <%= render "shared/sparkline_widget", person: person, type: :blood_pressure %>
  </div>
</section>
